@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@300;400;700&display=swap");

:root {
  --dsf-color-bg-primary: #55BC04;
  --dsf-color-bg-secondary: #C2C2C2;
  --dsf-color-bg-tertiary: #FFFFFF;

  --dsf-color-font-primary: #FFFFFF;
  --dsf-color-font-secondary: #55BC04;
  --dsf-color-font-tertiary: #6F6F6F;
  --dsf-color-font-quaternary: #C2C2C2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

html,
body {
  background-color: var(--dsf-color-bg-secondary);
}

a,
a:hover {
  text-decoration: none;
}

.dsf-container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.dflex {
  display: flex;
}

.mb10 {
  margin-bottom: 10px;
}

.mt20 {
  margin-top: 20px;
}